<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- Include stylesheet -->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


  
  <!-- Include the JQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Include the Quill library -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <!-- Include the local Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <script src="templates.js"></script>
  <script src="descriptors.js"></script>

  
</head>

<body>
  
  
  <!-- Create the editor container -->
<div id="container">

<!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR -->
<!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR -->
<!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR -->

<!-- These divs list the groups of each modality dropdowns. Each modality has many groups, each group is a specialty, ie each group is its self a list of the dropdown options for each specialty. These groups are the target of the dropdown triggers bellow -->

  <!-- USG USG USG --><!-- USG USG USG --><!-- USG USG USG --><!-- USG USG USG --><!-- USG USG USG -->
  <!-- USG USG USG --><!-- USG USG USG --><!-- USG USG USG --><!-- USG USG USG --><!-- USG USG USG -->


  <div id="usg_dropdowns">
      <ul v-for="specialty in modality" v-bind:id="specialty.metadata.specialty_id" class="dropdown-content">
        <li v-for="exam in specialty.mascaras">
          <a href="#!" v-on:click="html_format_template(exam)">{{exam.nickname}}</a>
        </li>
      </ul>
    </div>


      <!-- TC TC TC --><!-- DROPDOWN DROPDOWN DROPDOWN DROPDOWN --><!-- TC TC TC --><!-- TC TC TC -->
      <!-- TC TC TC --><!-- DROPDOWN DROPDOWN DROPDOWN DROPDOWN --><!-- TC TC TC --><!-- TC TC TC -->

<div id="tc_dropdowns">
  <ul v-for="specialty in modality" v-bind:id="specialty.metadata.specialty_id" class="dropdown-content">
    <li v-for="exam in specialty.mascaras">
      <a href="#!" v-on:click="html_format_template(exam)">{{exam.nickname}}</a>
    </li>
  </ul>
</div>
  

  <!-- RM RM RM --><!-- RM RM RM --><!-- RM RM RM --><!-- RM RM RM --><!-- RM RM RM -->
  <!-- RM RM RM --><!-- RM RM RM --><!-- RM RM RM --><!-- RM RM RM --><!-- RM RM RM -->

  <div id="rm_dropdowns">
      <ul v-for="specialty in modality" v-bind:id="specialty.metadata.specialty_id" class="dropdown-content">
        <li v-for="exam in specialty.mascaras">
          <a href="#!" v-on:click="html_format_template(exam)">{{exam.nickname}}</a>
        </li>
      </ul>
    </div>



  <!-- TRIGGERS NAV BAR TRIGGERS NAV BAR NAV BAR NAV BAR NAV BAR TRIGERS -->
  <!-- TRIGGERS NAV BAR TRIGGERS NAV BAR NAV BAR NAV BAR NAV BAR TRIGERS -->
  <!-- TRIGGERS NAV BAR TRIGGERS NAV BAR NAV BAR NAV BAR NAV BAR TRIGERS -->

  <!-- Theses <nav>s  are lists (one for each modality) that hold all the specialties available for them, and each specialt is a trigger whose target are the dropdown classes above, ie, the lists of exams. -->

  <!-- NAV BAR USG USG USG USG USG USG USG  TRIGGERS-->
  
  <nav id=nav_usg>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo right">Open Laudo</a>
        <ul id="usg_triggers" class="left hide-on-med-and-down">
          <!-- Dropdown Triggers -->
          <li v-for="specialty in modality">
            <a href="#!" class="dropdown-trigger" v-bind:data-target="specialty.metadata.specialty_id">{{specialty.metadata.specialty_nickname}}</a>
          </li>
        </ul>
      </div>
    </nav>



  <!-- NAV BAR TC TC TC TC TC TC TC TC TRIGGERS -->
  <nav id=nav_tc>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo right">Open Laudo</a>
        <ul id="tc_triggers" class="left hide-on-med-and-down">
          <!-- Dropdown Triggers -->
          <li v-for="specialty in modality">
            <a href="#!" class="dropdown-trigger" v-bind:data-target="specialty.metadata.specialty_id">{{specialty.metadata.specialty_nickname}}</a>
          </li>
        </ul>
      </div>
    </nav>
  
  
  <!-- NAV BAR RM RM RM RM RM RM RM RM RM RM  TRIGGERS -->
  <nav id=nav_rm>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo right">Open Laudo</a>
        <ul id="rm_triggers" class="left hide-on-med-and-down">
          <!-- Dropdown Triggers -->
          <li v-for="specialty in modality">
            <a href="#!" class="dropdown-trigger" v-bind:data-target="specialty.metadata.specialty_id">{{specialty.metadata.specialty_nickname}}</a>
          </li>
        </ul>
      </div>
  </nav>
  



  <!-- EXAM TYPE SELECTOR -->
  <div class="row">
      <ul class="tabs">
        <li class="tab"><a href="#nav_usg">USG</a></li>
        <li class="tab"><a href="#nav_tc">TC</a></li>
        <li class="tab"><a href="#nav_rm">RM</a></li>
      </ul>
    </div>

  
<!-- ROW WITH RTF_EDITOR AND FINDINGS DESCRIPTORS -->
  <div class="row">
    
    <!-- RTF_EDITOR -->
    <div id="all_editor" class="col-7">
      <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
      </div>
    </div>
    
    <!-- FINDINGS DESCRIPTORS -->
    <div class="col-5">
      <ul id="app" class="collapsible popout">
        <li v-for="card in cards" :key="card.title">
          <div class="collapsible-header "><img :src="card.src" class="circle vignette "><span class="headline white--text" v-text="card.title"></span></div>
          <div class="collapsible-body white"><span class="headline white--text" v-text="card.description"></span></div>
        </li>
      </ul>

      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

      <ul id="descriptors_ul">
        <li v-for="descriptor in v_descriptors">
          <a href="#!" v-on:dblclick="format_descriptor(descriptor.body)"><b>{{descriptor.title}}</b></a>
          <a href="#!" v-on:dblclick="format_descriptor(descriptor.body)"><br> {{descriptor.body}}</a>
          
        </li>
      </ul>
  
    </div>
  </div>
    
  
</div>
  


  <script src="quill.js"></script>
  <!-- Include the sidebar (vue) library -->
  <script src="sidebar.js"></script>
  
</body>