.vignette {
  max-width: 60px;
  max-height: 60px;
    margin-right: 4%;
}

#app {
  margin-top: 0px
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#descriptors_ul {
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

#descriptors_ul li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#descriptors_ul li p {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  word-wrap: break-word;
}


#descriptors_ul li a:hover:not(.header) {
  background-color: #eee;
}


